/* ProductList.css */
/* table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left; 
  }
  
  th {
    background-color: #cf5c0f; 
  } */

  /* ProductList.css */
.product-table-container{
  max-width: 1200px;
  margin: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  color: #e0d0d0; /* Dark Brown for table text */
}


th {
  background-color: #645b50; /* Light Gold Header */
    font-weight: bold;
    text-transform: uppercase;
}
.product-table-container button{
 border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e6b885; /* Light gold buttons */
  color: #5e4f4f; /* Dark Brown button text */
  cursor: pointer;
  transition: background-color 0.3s ease;
   font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  border: none;

}
.product-table-container button:hover{
background-color: #d4ac0d;
}
.product-table-container a{
  display: inline-block;
  margin-bottom: 20px;
  padding: 12px 24px;
 background-color: #e6b885;
  color: #5e4f4f;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
   font-family: 'Poppins', sans-serif;
       text-transform: uppercase;
}
.product-table-container a:hover {
background-color: #d4ac0d;
}